<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Bis2Bis_PublisherManagement_tab" translate="label" sortOrder="100">
            <label>Publisher Management Tab</label>
        </tab>
        <section id="Bis2Bis_PublisherManagement_section" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Publisher Management Section</label>
            <tab>Bis2Bis_PublisherManagement_tab</tab>
            <resource>Bis2Bis_PublisherManagement::config_section</resource>
            <group id="Bis2Bis_PublisherManagement_group" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Publisher Management Group</label>
                <field id="enable_publisher_feature" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Publisher Feature</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
